.forgotPassConfirmation {
  align-self: center;
  border-bottom: 2px solid #d4aeff;
  width: fit-content;
}
.forgotPassEmailTitle {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}
