@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body {
  background-color: #f8f0e5;
}
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
button {
  cursor: pointer;
}
nav a.active {
  font-weight: 800;
}
nav a.active::after {
  content: '';
  height: 3px;
  width: 15px;
  background: #d4aeff;
  position: absolute;
  left: 35%;
  bottom: -5px;
  border-radius: 6px;
}
.AppContainer {
  width: 70vw;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
}
.HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5em;
}

#logo {
  background-image: url('./assets/MainLogo.svg');
  width: 10em;
  height: 2.5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#registrBtn {
  padding: 1em;
  background-color: #d4aeff;
  border-radius: 6px;
}

#logOutBtn {
  padding: 1em;
  background-color: #9ba5b4;
  border-radius: 6px;
  border: none;
  color: white;
}

#userInfoContainer {
  border-left: 2px solid black;
  padding-left: 0.5em;
  font-size: 12px;
}
#userInfoContainer > * {
  margin: 0;
}
#headerLinkContainer {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 42em;
}
#headerLinkContainer > a {
  position: relative;
}

.errorContainer {
  /* width: 24%; */
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 6px;
}
#modalWindow {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3em;
  /* width: 400; */
  height: 13em;
  background-color: #f8f0e5;
  /* border: 2px solid #000; */
  border-radius: 6px;
}
.modalTitle {
  font-size: 25;
}
#btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-top: 2em; */
}

.modalCancelBtn {
  height: 3em;
  width: 47%;
  background-color: #9ba5b4;
  border: none;
  color: #ffffff;
  border-radius: 6px;
}
.modalSubmitBtn {
  background-color: #121418;
  height: 3em;
  width: 47%;
  color: #ffffff;
  border: none;
  border-radius: 6px;
}
.randomRecip {
  width: 100%;
  height: 23em;
  margin-bottom: 2.5em;
  padding: 3em;
  background-image: url('./assets/RandomRecipBack.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}
#randomRecipeTitle {
  font-size: 42px;
  font-weight: 700;
  width: 50%;
}
.randomRecipeBtn {
  width: 10em;
  height: 3em;
  font-weight: 500;
  font-size: 14px;
  border-radius: 6px;
  color: #121418;
  background-color: #d4aeff;
  border: none;
}
.pageTitle {
  text-align: center;
  margin-bottom: 1em;
}
.recipesContainer {
  width: 100%;
}
/* .recipesPreview {
  display: grid;
  grid-template-columns: repeat(3, 32.5%);
  width: 100%;
  column-gap: 1em;
  row-gap: 2.5em;
}
.textContainer {
  align-self: end;
  padding: 0.5em 1em;
}

.recipesPreview > *:first-child {
  grid-column-start: 1;
  grid-column-end: 4;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 6px;
}
.recipesPreview > *:first-child > a > .shortRecipeImg {
  position: static;
  height: 23em;
  width: 100%;
}

.recipesPreview > *:first-child > a {
  display: flex;
  flex-direction: row;
  width: 85%;
}
.recipesPreview > *:first-child > a > .textContainer {
  margin-left: 5em;
  margin-top: 4em;
  align-self: auto;
}
.recipesPreview > *:first-child > #description {
  text-align: left;
  align-self: center;
}
.recipesPreview > *:first-child > a > #Title {
  width: 25%;
  align-self: start;
  margin-left: 6%;
}
.recipesPreview > *:first-child > button {
  align-self: end;
}

#description {
  color: #9999;
  text-align: left;
}
.recipe {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  background-color: #fcf8f2;
  height: 22em;
}
.shortRecipeImg {
  height: 13em;
  border-radius: 6px;
  position: absolute;
  /* background-image: url('./assets/stockRecipe.png'); */
/* background-position: center; */
/* background-size: cover; */
/* width: 102%;
  right: -1%;
  top: -1%; */
/* } */
/* .recipeImg {
  width: 100%;
  height: 100%;
} */
.linkContainer {
  display: flex;
  position: relative;
  height: 95%;
  border-radius: 8px;
}
/* #loginContainer {
  width: 100vw;
  background-image: url('./assets/LoginBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
} */

.loginFormContainer {
  width: 35%;
  margin: 2.5em auto;
  border-radius: 30px;
  padding: 2em;
}

#loginForm {
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  margin: 0 auto;
}
#loginForm > * {
  margin-bottom: 2em;
}

#loginHeader {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  /* margin: 0; */
}

.recipeFormContainer {
  margin: 3em auto;
  width: 40%;
}

#recipeForm {
  display: flex;
  flex-direction: column;
}
#recipeForm > * {
  margin-bottom: 1em;
}
.submitBtn {
  background-color: #121418;
  color: #fcf8f2;
  border-radius: 6px;
  border: none;
  height: 4em;
}
#submitCancleBtn {
  opacity: 70%;
}
.ingredientsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.ingredientContainer {
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  border: none;
  background-color: #d4aeff;
  color: #121418;
  margin: 0.5em;
  padding: 0.5em;
}

.editRecipeForm {
  display: flex;
  flex-direction: column;
}
#imgActionTitle {
  display: inline;
}
#imgTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0;
  align-items: center;
}

#Title {
  align-self: center;
  text-align: left;
  word-wrap: break-word;
  text-transform: uppercase;
  margin: 0.5em 0;
  font-size: 48px;
  font-weight: 700;
}
.svgContainer {
  position: absolute;
  background-color: rgba(252, 248, 242, 0.6);
  border-radius: 6px;
  padding: 0.2em;
  margin: 0.5em 0 0 0.5em;
}

/* Edit */
.editRecipeForm {
  width: 40%;
  align-self: center;
}
.editRecipeForm > * {
  margin: 1em 0 1em 0;
}

.imgActionContainer {
  display: flex;
  flex-direction: column;
  /* width: 80%; */
}
.imgActionContainer > * {
  margin: 1em 0 1em 0;
}
.littleBtns {
  border: none;
  color: #d4aeff;
  width: fit-content;
  background-color: #f8f0e5;
  text-decoration: none;
  border-bottom: 2px solid #d4aeff;
  font-size: 15px;
  font-weight: bold;
  align-self: end;
}
.uploadImgContainer {
  border: 2px dashed black;
  background-color: #fcf8f2;
  height: 15em;
  background-image: url('./assets/uploadPhoto.svg');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
  cursor: pointer;
}

.uploadedImg {
  width: 100%;
  height: 23.1em;
  border-radius: 6px;
}
.uploadImgInput {
  display: none;
}

.bigImgContainer {
  display: contents;
  height: 15em;
}

/* FullRecipe */
.fullRecipeContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px 0 6em;
}
.recipeAuthorInfoContainer {
  width: 38%;
}
.statsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #828998;
}

.statsContainer > * {
  margin: 0 0.3em;
}
.recipeActionsContainer {
  display: flex;
}
#Ingredients {
  width: 34%;
  height: 23em;
  background-color: #fcf8f2;
  border: 1px solid black;
  border-radius: 6px;
  padding: 1em 1.5em 2em 2.5em;
  margin: 9.9em 0 0 1em;
}
.ingredient {
  word-wrap: break-word;
  margin: 0.5em 0;
}
/* #fullRecipeImgContainer {
} */
.mainRecipeInfoContainer {
  width: 70%;
}
#Description {
  font-size: 14px;
  margin: 2em 0;
}
.editRecipeBtn {
  background-color: #121418;
  display: flex;
  color: #fcf8f2;
  align-items: center;
  border-radius: 6px;
  border: none;
  justify-content: center;
  height: 4em;
  width: 50%;
  text-align: center;
  margin-left: 0.5em;
}
.deleteRecipeBtn {
  background-color: #9ba5b4;
  display: flex;
  color: #fcf8f2;
  align-items: center;
  border-radius: 6px;
  border: none;
  justify-content: center;
  height: 4em;
  width: 50%;
  text-align: center;
  margin-right: 0.5em;
}
.svgIcon {
  margin-right: 0.5em;
}

#likesCountContainer {
  display: flex;
  align-items: flex-end;
}
#viewsCountContainer {
  display: flex;
  align-items: flex-end;
}
#viewsCountContainer > * {
  margin: 0 0.1em;
}
#likesCountContainer > * {
  margin: 0 0.1em;
}
#recipeStatsAuthorInfo {
  display: flex;
  flex-direction: row;
  /* margin-bottom: 2em; */
  justify-content: space-between;
}
.recipeStatsLink {
  margin-right: 1em;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.recipeStatsLink > * {
  margin: 0;
}
#recipeDateCreation {
  font-size: 12px;
  color: #828998;
}

/* authorsRecipesrpage */

#authorInfoContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
.authorName {
  font-size: 48px;
  font-weight: 700;
}
