body {
  box-sizing: border-box;
}
.AppContainer {
  margin: 3em 20%;
  display: flex;
  flex-direction: column;
}
.HeaderContainer {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5em;
}
#userInfoContainer {
  /* align-self: start; */
}
#userInfoContainer > * {
  margin: 0;
}
#headerLinkContainer {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 28em;
}
.recipesContainer {
  /* max-width: 100%; */
}
.recipesPreview {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  width: 96.5%;
  column-gap: 1.5em;
  row-gap: 2.5em;
}
a {
  text-decoration: none;
  color: black;
}
.recipesPreview > *:first-child {
  grid-column: span 3;
  flex-direction: row;
}
.recipesPreview > *:first-child > a > img {
  height: 23em;
  width: 60%;
}
.recipesPreview > *:first-child > a {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.recipesPreview > *:first-child > a > .textContainer {
  margin-left: 5em;
}
.recipesPreview > *:first-child > #description {
  /* display: block;
  width: 35%; */
  text-align: left;
  align-self: center;
}
.recipesPreview > *:first-child > a > #Title {
  width: 25%;
  align-self: start;
  margin-left: 6%;
}
.recipesPreview > *:first-child > button {
  align-self: end;
}

#description {
  color: #9999;
  /* display: none; */
  text-align: left;
}
.recipe {
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-content: center;
  width: 100%;
  /* max-width: 100%; */
  /* max-width: fit-content; */
}

.loginFormContainer {
  background-color: lightcyan;
  width: 40%;
  margin: 0 auto;
  border-radius: 30px;
  padding: 2em;
}
.recipeImg {
  width: 100%;
  height: 85%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.recipeCreationFormContainer {
  margin: 0 auto;
  width: 40%;
}
.recipeCreationForm {
  display: flex;
  flex-direction: column;
}

.editRecipeForm {
  display: flex;
  flex-direction: column;
}
.linkContainer {
  height: 65%;
}
#Title {
  align-self: center;
  /* margin: 1em 0 1em 0;
  max-width: 75%;
  min-height: 18%; */
  text-align: left;
  word-wrap: break-word;
  text-transform: uppercase;
}
.svgContainer {
  position: absolute;
  background-color: #9999;
  opacity: 100%;
  /* z-index: 10; */
}
.svg {
  /* position: relative; */
  /* z-index: 1; */
}
/* Edit */
.editRecipeForm {
  width: 40%;
  align-self: center;
}
.editRecipeForm > * {
  margin: 1em 0 1em 0;
}

.imgActionContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.imgActionContainer > * {
  margin: 1em 0 1em 0;
}
/* FullRecipe */
.fullRecipeContainer {
  align-self: center;
}
.statsContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
