@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body {
  background-color: #f8f0e5;
}
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
button {
  cursor: pointer;
}

.AppContainer {
  width: 70vw;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

.noRecipesContainer {
  width: fit-content;
}

.pageTitle {
  text-align: center;
  margin-bottom: 1em;
}
.recipesContainer {
  width: 100%;
}

.linkContainer {
  display: flex;
  position: relative;
  height: 100%;
  border-radius: 8px;
}

.formContainer {
  width: 35%;
  margin: 0 auto;
  border-radius: 30px;
  padding: 1em 2em;
}

#userDataForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#userDataForm > * {
  margin-bottom: 1em;
}

.submitBtn {
  background-color: #121418;
  color: #fcf8f2;
  border-radius: 6px;
  border: none;
  height: 4em;
}
#submitCancleBtn {
  opacity: 70%;
}

.editRecipeForm {
  display: flex;
  flex-direction: column;
}

.title {
  align-self: center;
  text-align: left;
  word-wrap: break-word;
  text-transform: uppercase;
  margin: 0.5em 0;
  font-size: 48px;
  font-weight: 700;
}

.editRecipeForm {
  width: 40%;
  align-self: center;
}
.editRecipeForm > * {
  margin: 1em 0 1em 0;
}

.littleBtns {
  border: none;
  color: #d4aeff;
  width: fit-content;
  background-color: #f8f0e5;
  text-decoration: none;
  border-bottom: 2px solid #d4aeff;
  font-size: 15px;
  font-weight: bold;
  align-self: end;
}
.modalWindow {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3em;
  height: 13em;
  background-color: #f8f0e5;
  border-radius: 6px;
}
.modalTitle {
  font-size: 24;
}
.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modalCancelBtn {
  height: 3em;
  width: 47%;
  background-color: #9ba5b4;
  border: none;
  color: #ffffff;
  border-radius: 6px;
}
.modalSubmitBtn {
  background-color: #121418;
  height: 3em;
  width: 47%;
  color: #ffffff;
  border: none;
  border-radius: 6px;
}
.statsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #828998;
}

.statsContainer > * {
  margin: 0 0.3em;
}
