.recipesPreview {
  display: grid;
  grid-template-columns: repeat(3, 32.6%);
  width: 100%;
  column-gap: 1em;
  row-gap: 2.5em;
}
.textContainer {
  align-self: end;
  padding: 1em 1em;
  height: 14em;
  width: 28em;
}

.recipesPreview > *:first-child {
  grid-column-start: 1;
  grid-column-end: 4;
  flex-direction: row;
  /* border: 1px solid black; */
  border-radius: 6px;
  height: 25em;
}
.recipesPreview > *:first-child > a > .shortRecipeImg {
  position: static;
  height: 25em;
  width: 60%;
}
@media screen and (max-width: 1300px) {
  .recipesPreview > *:first-child > a > .shortRecipeImg {
    width: 50%;
  }
}
.recipesPreview > *:first-child > a {
  display: flex;
  flex-direction: row;
  width: 99.5%;
}
.recipesPreview > *:first-child > a > .textContainer {
  margin-left: 1em;
  margin-top: 3em;
  align-self: auto;
  width: 33em;
}
.recipesPreview > *:first-child > a > div > #title {
  width: fit-content;
  align-self: start;
  font-size: 24px;
  font-weight: 700;
}
.recipesPreview > *:first-child > a > div > #description {
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  margin-bottom: 4em;
  width: 90%;
  height: 10em;
  overflow: hidden;
  /* align-self: center; */
}

.recipesPreview > *:first-child > button {
  align-self: end;
}

#title {
  align-self: center;
  text-align: left;
  word-wrap: break-word;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin: 0.5em 0;
  overflow: hidden;
  height: 1em;
}
#description {
  color: #121418;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  /* text-overflow: ellipsis; */
  overflow: hidden;
  height: 4em;
  margin: 1.5em 0 2em 0;
  /* white-space: normal; */
}
.recipe {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  background-color: #fcf8f2;
  height: 26em;
}
.shortRecipeImg {
  height: 13em;
  border-radius: 6px;
  position: absolute;
  width: 102%;
  right: -1%;
  top: -1%;
}
/* .recipeImg {
  width: 100%;
  height: 100%;
} */
.linkContainer {
  display: flex;
  position: relative;
  height: 100%;
  border-radius: 8px;
}
