.recipeFormContainer {
  margin: 2em auto;
  width: 40%;
}
@media screen and (max-width: 980px) {
  .recipeFormContainer {
    width: 70%;
  }
}
@media screen and (max-width: 550px) {
  .recipeFormContainer {
    width: 100%;
  }
}
#recipeForm {
  display: flex;
  flex-direction: column;
}
#recipeForm > * {
  margin-bottom: 1em;
}
.ingredientsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.ingredientContainer {
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  border: none;
  background-color: #d4aeff;
  color: #121418;
  margin: 0.5em;
  padding: 0.5em;
}
